<footer class="footer footer-1 position-relative" data-bg-img="./assets/images/shapes/footer.png"
style="background-image: url(&quot;./assets/images/shapes/footer.png&quot;);">
<div class="subscribe-box">
  <div class="container">
    <div class="row subscribe-inner align-items-center">
      <div class="col-md-6 col-sm-12">
        <h4>Connet with us</h4>
        <p class="lead mb-0">Get insights, tips, and special offers delivered to your inbox.</p>
      </div>
      <div class="col-md-6 col-sm-12 mt-3 mt-md-0">
        <div class="subscribe-form">
          <form id="mc-form" class="group">
            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address"
              required="">
            <input class="btn btn-theme" type="submit" name="subscribe" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="primary-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="footer-logo">
          <img id="footer-logo-img" src="./assets/images/logo2.png" class="img-fluid" alt="">
        </div>
        <p class="mb-0">Transform your ideas into reality with Incredible Code. We specialize in crafting
          tailored software solutions and stunning designs to meet your unique needs.</p>
      </div>
      <div class="col-lg-4 col-md-6 ps-md-5 mt-5 mt-md-0 footer-list justify-content-between d-flex">
        <ul class="list-unstyled w-100">
          <li><a href="">About Us</a>
          </li>
          <li><a href="">Service</a>
          </li>
          <li><a href="">Team</a>
          </li>
          <li><a href="">Team Single</a>
          </li>
          <li><a href="">Contact Us</a>
          </li>
        </ul>
        <ul class="list-unstyled w-100">
          <li><a href="">Blog</a>
          </li>
          <li><a href="">Faq</a>
          </li>
          <li><a href="">Error 404</a>
          </li>
          <li><a href="">Privacy Policy</a>
          </li>
          <li><a href="">Terms</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-12 mt-5 mt-lg-0">
        <ul class="media-icon list-unstyled">
          <li class="me-2"><a href=""><i class="fab fa-twitter"></i> X</a>
          </li>
          <li class="me-2"><a href="https://www.facebook.com/profile.php?id=61565138985710"><i
                class="fab fa-facebook-f"></i> Facebook</a>
          </li>
          <li><a href="https://www.linkedin.com/company/incrediblecode/"><i class="fab fa-linkedin"></i>
              Linkedin</a>
          </li>
          <li><a href="https://www.instagram.com/incrediblecode.in/"><i class="fab fa-instagram"></i>
              Instagram</a>
          </li>
          <li>Email: <a href="mailto:themeht23@gmail.com"><b>connect@incrediblecode.in</b></a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
<div class="secondary-footer">
  <div class="container">
    <div class="copyright">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12"> <span>Copyright 2024 <u><a href="">Incredible Code</a></u> | All
            Rights
            Reserved</span>
        </div>
        <!--  <div class="col-lg-6 col-md-12 text-lg-end mt-3 mt-lg-0">
          <div class="footer-social">
            <ul class="list-inline">
              <li class="me-2"><a href="https://www.facebook.com/profile.php?id=61565138985710"><i
                    class="fab fa-facebook-f"></i> Facebook</a>
              </li>
              <li class="me-2"><a href=""><i class="fab fa-twitter"></i> Twitter</a>
              </li>
              <li><a href="https://www.linkedin.com/company/incrediblecode/"><i class="fab fa-linkedin"></i>
                  Linkedin</a>
              </li>
              <li><a href="https://www.instagram.com/incrediblecode.in/"><i class="fab fa-instagram"></i>
                  Instagram</a>
              </li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
</footer>